/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

/*@import url(http://weloveiconfonts.com/api/?family=entypo);*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=cyrillic-ext,latin);

* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
  outline: none;
  font-weight: 300;
  font-size: 14px;
}

header {
	/*background: #19B5FF;*/
	height: 100vh;
  background: url('../images/background.jpg')   center 0 repeat fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.landing-title {
  display: flex;
  align-items: center;
  margin: auto;
}

.landing-text {
  flex:1;
  position: absolute;
top: 45%;
text-align: center;
justify-content: center;
align-content: center;
font-size: 50px;
align-self: center;
color: white;
font-weight: 300;
}

header .header-logo img {
	height: 40px;
  padding: 5px 0 5px 20px;
}

header .header-top {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  justify-content: space-between;
	height: 50px;
	/*background: #fff;*/
	position: relative;
}

header .header-menu {
	height: 50px;
	/*background: #fff;*/
  display: flex;
  position: relative;
}

header .header-menu div {
  flex:1;
  color: #373939;
  max-width: 150px;
  padding: 17px;
  text-align: center;
  /*border-right: 1px solid #333;*/
}

header .header-menu div:first-child {
  /*border-left: 1px solid #333;*/
}

header .header-accordion {
	height: 250px;
}

header .header-accordion .accordion {
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

header .header-accordion .accordion .accordion-item {
	flex: 1;
	height: 250px;
  background-size:  cover;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in ;
}

header .header-accordion .accordion .accordion-item.blue{
	background: url('../images/car1.jpg');
}

header .header-accordion .accordion .accordion-item.red {
	background: url('../images/car2.jpg');
}

header .header-accordion .accordion .accordion-item.green {
	background: url('../images/car3.jpg');
}

header .header-accordion .accordion .accordion-item:hover {
	flex: 4;
  transition: all 0.5s ease-in ;
}

/* HEADER USERPANEL */

header .userpanel{
  /*width: 280px;*/
  /*height: 100%;*/
  /*position: absolute;*/
  top: 0;
  right: 50px;
  /*background: #C5C7C7;*/
  cursor: pointer;
  display: flex;
  z-index: 100;
}
header .userpanel .user {
  display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  position:relative;
  text-align:center;
  color:white;
}
header .userpanel .user > div:nth-child(-n+2) {
  /*border-right: 1px solid #bbb;*/
}
header .userpanel .notification {
  width:60px;
  height:100%;
  line-height:49px;


  display:block;
  position:relative;
}
header .userpanel .notification [class*="entypo-"] {
  font-size:17px;
  color: #333;
  margin-right:13px;
}
header .userpanel .notification .number {
width: 20px;
height: 20px;
background: #2890E6;
border-radius: 5px;
line-height: 20px;
position: absolute;
top: 12px;
right:14px;
z-index: -1;
}
header .userpanel .picture {
  width:50px;
  height: 50px;
  line-height:50px;
  display:block;
  position:relative;
}
header .userpanel .picture img {
  width:40px;
  height:40px;
  padding:5px;
  overflow:hidden;
  border-radius: 100%;
  filter: grayscale(0.8);
  -webkit-filter: grayscale(0.8);
}
header .userpanel .picture img:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}
header .userpanel .name {
  /*width:160px;*/
  color: #333;
  line-height:50px;
  display:block;
  position:relative;
  text-align:left;
  padding:0 10px;
}
header .userpanel .name [class*="entypo-"] {
  font-size:20px;
  right:15px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
header .userpanel .drop {
  width:160px;
  min-height:100px;
  display:none;
  position:absolute;
  top:55px;
  right:0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background:crimson;
}

header .header-search input{
  height: 30px;
  margin: 10px 0;
  border-radius: 20px;
  border: 1px solid #e1e1e1;
  padding: 0 10px;
  font-style: italic;
}

aside {
	width: 200px;
  min-width: 220px;
	/*background: whitesmoke;*/
  
  max-height: 100vh;
  overflow: auto;
  overflow-x: hidden;
	flex: 1;
}

.parent-settings {
  background: rgba(255, 255, 255, 0.69);
}

.aside_left {
  display: flex;
  flex-direction: row;
  /*margin-top: 17px;*/
}

.aside_right {
  
  display: flex;
  flex-direction: row;
}

.right-menu-button {
  background: transparent;
  min-width: 36px;
max-width: 36px;
}

.child-settings {
  background: rgba(255, 255, 255, 0.69);
}

#main {
	/*min-height: 800px;*/
	background: url('../images/background_2.jpg')  center 0 repeat fixed;
  background-size: cover;
	display: flex;
	/*flex-flow: row;*/
  height: 100vh;
}

.main {
	/*background: #F0F0F0;*/
	flex: 3 ;
}

.main h2 {
  font-size: 25px;
  text-align: center;
  padding: 20px;
}

footer {
	height: auto;
	background: #161616;
  color: white;
}


.main-first-block-wrapper{
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: auto;
  position: relative;
  padding: 10px;
  -webkit-transition: opacity .3s ease .15s;
-moz-transition: opacity .3s ease .15s;
-o-transition: opacity .3s ease .15s;
-ms-transition: opacity .3s ease .15s;
transition: opacity .3s ease .15s;
}

.main-first-block-wrapper .main-first-block-item {
  /*max-width: 150px;*/
  font-family: Open Sans Condensed;
  background: rgba(0, 0, 0, 0.66);
  padding: 15px 15px 15px 50px;
  margin: 5px;
  /*border: 1px solid rgba(0, 0, 0, 0.2);*/
  /*-moz-flex: 1 0 auto;*/
  /*-webkit-flex: 1 0 auto;*/
  /*flex: 1 0 auto;*/
  position: relative;
  color: wheat;
}

.main-photogallery-block {
  height: 500px;
  width: 600px;
  margin: auto;
display: flex;
height: 100vh;
flex-direction: column;
justify-content: center;
}

.main-photogallery-block .box {
  box-sizing: border-box;
 display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
padding: 20px;
height: 450px;
}

.col-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  -webkit-flex: 1 2 20%;
      -ms-flex: 1 2 20%;
          flex: 1 2 20%;
  -webkit-transition: -webkit-flex 0.3s ease;
          transition:     -ms-flex 0.3s ease;
          transition:         flex 0.3s ease;
}
.item {
  margin: 2px;
  -webkit-flex: 1 2 20%;
      -ms-flex: 1 2 20%;
          flex: 1 2 20%;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  -webkit-transition: -webkit-flex 0.3s ease;
          transition:     -ms-flex 0.3s ease;
          transition:         flex 0.3s ease;
}
.col-item:hover {
  -webkit-flex: 1 1 90%;
      -ms-flex: 1 1 90%;
          flex: 1 1 90%;
}
.item:hover {
  -webkit-flex: 1 1 90%;
      -ms-flex: 1 1 90%;
          flex: 1 1 90%;
  background-size: 100% 100%
}

.controls {
  background: rgba(0,0,0,0.5);
  height: 40px;
  padding: 0px;
  margin: 0px 0 20px 0;
}

.main-first-block-stats select {
  height: 40px;
  background: transparent;
  font-family: 'entypo', sans-serif;
  font-size: 14px;
  color: #363636;
  border: none;
}

.main-photogallery-block-controls input {
  background: transparent;
  border:none;
  height: 30px;
  padding: 5px;
}

.black-stripe {
  /*background: #f5f5f5;*/
  color: #333;
  height: 27px;
  font-size: 10px;
  display: flex;
  margin: 10px;

}

.black-stripe select {
  background: transparent;
  border: none;
  border-radius: 20px;
  /*border: 1px solid #e1e1e1;*/
  height: 31px;
}

.black-stripe > p {
  padding:  7px 20px;
  font-weight: 700;
}

.black-stripe > div {
  border: 1px solid rgba(0,0,0,0.1);
  padding: 6px;
  box-sizing: border-box;
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  border-right-color: transparent;
}

.black-stripe > div:last-child {
  border-right-color: rgba(0,0,0,0.1);
}


.black-stripe > div:hover {
  border: 1px solid #C6C6C6;
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  cursor: pointer;
}

.settings-items {
  /*border: 1px solid #e1e1e1;*/
  min-height: 50px;
  border-top-color: transparent;
  padding: 15px;
  
  box-sizing: border-box;
}

.settings-items .transparent-input {
  background: transparent;
  border: none;
  height: 100%;
  width: 100%;
}

.settings-items .transparent-input input {
  width:100%;
}

.settings-items .input-span {
  background: #ccc;
  height: 30px;
  display: inline-block;
  width: 50px;
  border-radius: 3px;
  padding: 5px;
  position: relative;
  box-sizing: border-box;
}

.header-stripe {
  background: crimson;
  padding: 10px;
  text-align: center;
  color: white;
}

.settings-items select {
  height: 30px;
  background: rgba(255, 255, 255, 0.52);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #333;
  /*border-radius: 3px;*/
  border:none;
  width: 100%;
}

.settings-items p {
  padding: 5px 0;
}

.settings-items select option {
  background: white;
  color: #333;
}

.number {
  width: 20px;
  height: 20px;
  /*border-radius: 100%;*/
  display: inline-block;
  color: white;
  text-align:  center;
  padding: 5px;
  font-size: 13px;
  position: absolute;
  top: 0;
  left: 10px;
}

.code-button {
  display: inline-block !important;
  opacity: 0;
  color: white;
  background: #777;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 12px;
  display: none;
  z-index: 10;
  -webkit-transition: opacity .3s ease .15s;
-moz-transition: opacity .3s ease .15s;
-o-transition: opacity .3s ease .15s;
-ms-transition: opacity .3s ease .15s;
transition: opacity .3s ease .15s;
}

.main-first-block-item:hover .code-button {
  display: inline-block;
  opacity: 1;
  -webkit-transition: opacity .3s ease .15s;
-moz-transition: opacity .3s ease .15s;
-o-transition: opacity .3s ease .15s;
-ms-transition: opacity .3s ease .15s;
transition: opacity .3s ease .15s;
}

.number--mountain-meadow {
  background: #1ABC9C;
}

.modal.code {
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: 'Courier New';
  color: white;
  font-weight: bold;
}

.modal.code span,
.modal.code div {
  font-family: 'Courier New';
}

.className {
  color: #A6E22E;
}

.property {
  color: #66D9EF;
  padding: 0 0 0 50px;
}

.value {
  color: #A544FF;
}

.modal-wrapper {
  width: 50%;
  background: #272822;
  padding: 20px 0;
  top: 25%;
left: 25%;
position: absolute;
}

.property-row {
  /*margin-left: 16px;*/
}

.row-number {
  color: #777;
  padding: 0 10px;
}

.title-block .title {
  flex:1;
  color: burlywood;
  font-size: 20px;
  text-transform: uppercase;
}


.socials, .sitemap, .contacts {
  display: flex;
}

.socials {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sitemap, .contacts {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.contacts i {
  flex-basis: 40px;
}

.contacts span {
  flex:1;
}

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.data-block {
   display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.title-block {
  display: flex;
}


.copyright {
  flex:1;
  text-align: center;
  padding: 40px 0 10px;
  font-size: 12px
}

.footer-block  {
  flex: 1 0 100px;
  padding: 10px 30px;
  box-sizing: border-box;
}

.footer-block.sitemap {
  border-right:1px solid rgb(73, 73, 73); 
  border-left: 1px solid rgb(73, 73, 73);
}
.contacts, .title.contacts, .title.socials {
  align-items: stretch;
  display: flex;
  flex: 2;
}

.title {
  text-align: center;
  padding: 30px;
}
.socials, .title .socials {
  flex:2;
}

.social-item .twitter {
  color: #4FA0DE;
}

.social-item .facebook {
  color: #205081;
}

.social-item .bitbucket {
  color: #205081;
}

.social-item .google-plus {
  color: #DD4E3A;
}

.social-item .github {
  color: #313131;
}

.contacts i {
  width: 20px;
  padding: 5px;
}

.social-item .youtube {
  color: #CC181E;
}

.social-item .white {
  color: white;
}

.social-item {
  padding: 10px;
}

.contact-item {
  display: flex;
}

.settings-items .grow input,
.settings-items .shrink input {
  width: 15px;
}

.left-menu-button {
  padding: 12px 14px;
  min-width: 36px;
max-width: 36px;
  /*font-size: 40px;*/
}

.gallery-block {
  height: 100vh;
  background: url('../images/background_3.jpg')   center 0 repeat fixed;
  background-size: cover;
}

.apply-global-button {
  background: crimson;
  color: white;
  border: none;
  padding: 5px;
}