/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

@import url(http://weloveiconfonts.com/api/?family=entypo);

@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

* {
	margin: 0;
	padding: 0;
	font-family: 'entypo', sans-serif;
  outline: none;
}

header {
	background: #19B5FF;
	height: auto;
}

header .header-logo img {
	height: 50px;
}

header .header-top {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: 50px;
	background: #C5C7C7;
	position: relative;
  display: flex;
}

header .header-top .top-right {
  display: flex;
  flex:1;
  justify-content: flex-end;
  flex-wrap:wrap;
}

header .header-menu {
	height: 50px;
	background: lightgray;
  display: flex;
}

header .header-menu div {
  flex:1;
  color: #373939;
  max-width: 150px;
  padding: 17px 0;
  text-align: center;
  /*border-right: 1px solid #333;*/
}

header .header-menu div:hover {
  background: darkgray;
  color: white;
  cursor: pointer;
}

header .header-menu div:first-child {
  /*border-left: 1px solid #333;*/
}

header .header-accordion {
	height: 350px;
}

header .header-accordion .accordion {
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

header .header-accordion .accordion .accordion-item {
	flex: 1;
	height: 350px;
  background-size:  auto 100%;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in ;
}

header .header-accordion .accordion .accordion-item.blue{
	background: url('../images/car1.jpg');
}

header .header-accordion .accordion .accordion-item.red {
	background: url('../images/car2.jpg');
}

header .header-accordion .accordion .accordion-item.green {
	background: url('../images/car3.jpg');
}

header .header-accordion .accordion .accordion-item.rose {
  background: url('../images/car4.jpg');
}

header .header-accordion .accordion .accordion-item:hover {
	flex: 4;
  transition: all 0.5s ease-in ;
}

/* HEADER USERPANEL */

header .userpanel{
  width: 280px;
  height: 100%;
  top: 0;
  right: 50px;
  background: #C5C7C7;
  cursor: pointer;
  z-index: 100;
  self-align: flex-end;
}
header .userpanel .user {
  display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  position:relative;
  text-align:center;
  color:white;
}
header .userpanel .user > div:nth-child(-n+2) {
  border-right: 1px solid #bbb;
}
header .userpanel .notification {
  width:60px;
  height:100%;
  line-height:49px;
  float:left;
  display:block;
  position:relative;
}
header .userpanel .notification [class*="entypo-"] {
  font-size:17px;
  color: #333;
  margin-right:13px;
}
header .userpanel .notification .number {
width: 20px;
height: 20px;
background: #2890E6;
border-radius: 5px;
line-height: 20px;
position: absolute;
top: 12px;
right:14px;
z-index: -1;
}
header .userpanel .picture {
  width:50px;
  height: 50px;
  line-height:50px;
  float:left;
  display:block;
  position:relative;
}
header .userpanel .picture img {
  width:40px;
  height:40px;
  padding:5px;
  overflow:hidden;
  filter: grayscale(0.8);
  -webkit-filter: grayscale(0.8);
}
header .userpanel .picture img:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}
header .userpanel .name {
  width:160px;
  height:100%;
  line-height:50px;
  float:left;
  display:block;
  position:relative;
  text-align:left;
  padding:0 10px;
}
header .userpanel .name [class*="entypo-"] {
  position: absolute;
  font-size:20px;
  right:15px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
header .userpanel .drop {
  width:160px;
  min-height:100px;
  display:none;
  top:55px;
  right:0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background:crimson;
}

header .header-search input{
  height: 30px;
  margin: 10px 0;
  border-radius: 20px;
  border: none;
  padding-left: 10px;
}

aside {
	width: 200px;
	background: #ebebeb;
	flex: 1;
}

#main {
	/*min-height: 800px;*/
	background: #2915FE;
	display: flex;
	/*flex-flow: row;*/
}

.main {
	background: #EBEBEB;
	flex: 3 ;
}

footer {
	height: 200px;
	background: #00A3B8;
}


.main-first-block-wrapper{
  height: 500px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: auto;

}

.main-first-block-wrapper .main-first-block-item {
  max-width: 150px;
  font-family: Open Sans Condensed;
  background: white;
  padding: 15px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -moz-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}

.main-photogallery-block {
  height: 600px;
  margin-bottom: 40px;
}

.main-photogallery-block .box {

 display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.col-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  -webkit-flex: 1 2 20%;
      -ms-flex: 1 2 20%;
          flex: 1 2 20%;
  -webkit-transition: -webkit-flex 0.3s ease;
          transition:     -ms-flex 0.3s ease;
          transition:         flex 0.3s ease;
}
.item {
  margin: 2px;
  -webkit-flex: 1 2 20%;
      -ms-flex: 1 2 20%;
          flex: 1 2 20%;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  -webkit-transition: -webkit-flex 0.3s ease;
          transition:     -ms-flex 0.3s ease;
          transition:         flex 0.3s ease;
}
.col-item:hover {
  -webkit-flex: 1 1 90%;
      -ms-flex: 1 1 90%;
          flex: 1 1 90%;
}
.item:hover {
  -webkit-flex: 1 1 90%;
      -ms-flex: 1 1 90%;
          flex: 1 1 90%;
  background-size: 100% 100%
}

.controls {
  background: #ccc;
  height: auto;
  padding: 0px;
}

.main-first-block-stats select {
  height: 40px;
  background: transparent;
  font-family: 'entypo', sans-serif;
  font-size: 14px;
  color: #363636;
  border: none;
}

.main-first-block-stats  {
  padding: 10px;
}

.main-photogallery-block-controls input {
  background: transparent;
  border:none;
  height: 30px;
  padding: 5px;
}

.aside-left {
  display: flex;
  flex-direction: column;
  flex:1;
}

.aside_right {
  display: flex;
  flex-direction: column;
  flex:1;
  order:2;
}


.aside_left .aside-left-item{
  height: 20px;
  background: #ebebeb;
  padding: 10px;
  flex:1;
  color: #555;
  border-bottom: 1px solid #ddd;
}

.aside_left .aside-left-item:hover {
  background: darkgray;
  cursor: pointer;
  color: white;
}

  #main {
    flex-wrap: wrap;
  }

  footer {
    display: flex;
    background: #efefef;
  }

  footer .footer-block {
    flex:1;
    border-right: 1px solid #cdcdcd;
  }

  footer .footer-block section {
    background: #ededed;
    padding: 10px;
    text-align: center;
  }
   .aside_right {
    display: flex;
    flex-direction: column;
    background: #efefef;
   }
  .aside_right .aside-block {
    background: #ddd;
    height:  100px;
    flex:1;
    margin: 22px;
  }

@media all and (max-width: 1000px) {

#main > * {
  flex: 1 100%;
}
  aside:nth-child(1) {
    /*flex: 1 auto;*/
    order:1;
  }

  aside:nth-child(2) {
    order:2;
  }

  #main aside {
    flex: 1 50%;
  }
  .main-photogallery-block {
    order: 4;
  }

  .main-block {
    orader: 3;
  }
}

@media all and (max-width: 750px) {
  header .header-menu {
    flex-direction: column;
    height: auto;
  }

  header .header-menu div {
    max-width: 100%;
  }

  header .header-top {
    height: auto;
    min-height: 50px;
  }
}

@media all and (max-width: 500px) {
  footer {
    flex-direction: column;
  }

  #main aside {
    flex: 1 100%;
  }
}
